<!DOCTYPE html>
<html>
  <head>
    <title>Covid19 UK trend</title>
    <link rel="icon" href="https://www.google.com/s2/favicons?domain=css-tricks.com">


    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>



    <body>
<input type="hidden" id="dates" value="<%= dates %>">
<input type="hidden" id="total_cases" value="<%= total_cases %>">
<input type="hidden" id="recovered" value="<%= recovered %>">
<input type="hidden" id="deaths" value="<%= deaths %>">

      <div id="plot-death-rec" style="width:80%;height:80%;margin:0 10%;">
      </div>
      <div id="plot-total">
      </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/plot.js"></script>


    </body>

  </html>
